<!-- Three -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img src="{{ asset('assets/images/pic03.jpg') }}" alt="Okehampton Taxi" />
                </div>
                <header>
                    <h3>Who are we?</h3>
                </header>
                <p>{{ company }} was founded by Graham as a means to provide people with affordable, reliable and a fast Taxi service to any destination for his customers.<br/><br/>Since it's growth Graham and {{ company }} has provided a safe Taxi service to over 500 customers and counting!<br/><br/>Be one of our customers and book now!</p>
                <footer>
                    <a href="tel:{{ company_contact_num }}" class="button">Book by Calling: {{ company_contact_num }}</a>
                </footer>
                <footer>
                    <span>Or</span>
                    <br/>
                </footer>
                <footer>
                    <a href="{{ path('book_step_one') }}" class="button">Book Online</a>
                </footer>
                <p style="position:relative;left: -6000px;">taxi in okehampton. okehampton taxi. taxi in exeter. exeter taxi. local taxi. exeter taxi service.</p>
                <p style="position:relative;left: -6000px;">Providing a reliable taxi service to okehampton, exeter and devon. Providing okehampton taxi, exeter taxi, launceston taxi, north tawton taxi. Okehampton airport transfers. Taxi service in okehampton. Okehampton taxi. Okehampton taxi service.</p>
            </article>
            <article>
                <div class="image round">
                    <img src="{{ asset('assets/images/pic04.jpg') }}" alt="Okehampton Taxi" />
                </div>
                <header>
                    <h3>What we offer</h3>
                </header>
                <table>
                    <tbody>
                    <tr>
                        <td>Airport Transfers <span class="icon fa-check"></span></td>
                        <td>Bus Transfers <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Bus Station Transfers <span class="icon fa-check"></span></td>
                        <td>College Pick Ups/Returns <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Exeter Train Station <span class="icon fa-check"></span></td>
                        <td>Exeter Airport <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Holiday Transfers <span class="icon fa-check"></span></td>
                        <td>Hospital Contracts <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Hen Party/Stag Party <span class="icon fa-check"></span></td>
                        <td>Job Centre/Job Interviews <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Local <span class="icon fa-check"></span></td>
                        <td>Long Distance <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Contract Hire <span class="icon fa-check"></span></td>
                        <td>Nanny Contracts <span class="icon fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>Okehampton Taxi <span class="icon fa-check"></span></td>
                        <td>Personal Taxi <span class="icon fa-check"></span></td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</section>